.container {
    max-width: 880px;
    @include screen(mobile){
        padding: 0 10%;
    }
    @include screen(web){
        max-width: 1550px;
        width: 100%;
        margin: 0 auto;
        padding: 0 90px;
    }
    @include screen(large){}
    @include screen(extra){}
}

@include screen(mobile){
    .mo-hidden {
        display: none !important;
    }
}
@include screen(web){
    .pc-hidden {
        display: none !important;
    }
}