@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap');

#app {
  transition: 0.5s;
  overflow: hidden;
}

.blurred {
  transition: 0.5s;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    transition: backdrop-filter 0.3s;
  }
  &--active {
    &::after {
      backdrop-filter: blur(4px);
    }
  }
}

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  max-width: 1550px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 30px;
  left: 50%;
  transform: translateX(-50%);
  a {
    z-index: 100;
    position: relative;
    &.logo {
      img {
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
        height: 44px;
      }
      .default-logo {
        opacity: 1;
      }
      .dark-logo {
        opacity: 0;
      }
    }
    &.logo.dark {
      .default-logo {
        opacity: 0;
      }
      .dark-logo {
        opacity: 1;
      }
    }
  }
  .navBtn {
    position: relative;
    z-index: 100;
    width: 24px;
    height: 21px;
    cursor: pointer;
    span {
      position: relative;
      display: flex;
      align-items: center;
      width: 24px;
      height: 21px;
      .lines {
        border-radius: 2px;
        display: flex;
        width: 100%;
        height: 3px;
        background-color: white;
        align-items: center;
        transition: 0.5s;
        &::before {
          border-radius: 2px;
          transition: 0.5s;
          content: '';
          display: block;
          width: 100%;
          height: 3px;
          background-color: white;
          position: absolute;
          top: 0;
        }
        &::after {
          border-radius: 2px;
          transition: 0.5s;
          content: '';
          display: block;
          width: 100%;
          height: 3px;
          background-color: white;
          position: absolute;
          bottom: 0;
        }
      }
      &:hover {
        .lines {
          &::before {
            opacity: 0.7;
          }
          &::after {
            opacity: 0.7;
          }
        }
      }
    }
    &.active {
      .lines {
        background: none;
        &::before {
          //   opacity: 1;
          top: 10px;
          transform: rotate(45deg);
        }
        &::after {
          //   opacity: 1;
          bottom: 8px;
          transform: rotate(-45deg);
        }
      }
    }
    &.dark {
      span {
        .lines {
          background-color: #000;
          &::before {
            background-color: #000;
          }
          &::after {
            background-color: #000;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 1000px) {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.navScreen {
  font-family: 'Chakra Petch', sans-serif;
  transition: 0.5s ease;
  padding: 0;
  background-color: #111111;
  width: 100%;
  height: 100%;
  position: fixed;
  top: -100vh;
  left: 0;
  opacity: 0;
  //   display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 110;
}

.navScreen.close {
  opacity: 0 !important;
}

.navScreen.active {
  display: flex;
  opacity: 0.93;
  top: 0;
}

nav a {
  display: block;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  height: 60px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff !important;
  opacity: 0.7;
}

nav a:hover {
  //   color: #ffffff;
  opacity: 1;
}

nav {
  transition: 0.5s ease;
  flex-direction: column;
  padding: 0 !important;
  transform: translateY(1000px);
  visibility: hidden;
  &.active {
    visibility: visible;
    display: flex !important;
    transform: translateX(0);
  }
  .navList {
    list-style: none;
    padding: 0;
    li {
      height: 60px;
      position: relative;
      a {
        padding: 6px 20px;
        line-height: 48px;
      }
      .subMenu {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        a {
          line-height: 1.2;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          height: 36px;
          padding: 6px 20px;
          white-space: nowrap;
        }
        &.about {
          background: url('http://www.the-51.com/wp-content/uploads/2019/06/bg_menuTree_R.png')
            no-repeat left center;
          left: 50%;
          align-items: flex-start;
          padding-left: 60px;
          margin-left: 110px;
        }
        &.culture {
          background: url('http://www.the-51.com/wp-content/uploads/2019/06/bg_menuTree_L.png')
            no-repeat right center;
          right: 50%;
          margin-right: 100px;
          align-items: flex-end;
          padding-right: 60px;
        }
      }
    }
  }
}

nav a.router-link-exact-active {
  color: #ffffff !important;
  opacity: 1;
}

.bottom-text {
  transition: 0.5s;
  position: fixed;
  bottom: 28px;
  left: 28px;
  padding-bottom: 0;
  font-size: 12px;
  color: #ffffff;
  opacity: 0;
}
.bottom-text.active {
  opacity: 0.7;
}

.snsList {
  transition: 1s;
  height: 32px;
  margin: 0;
  list-style: none;
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 18px;
  right: 18px;
  a {
    // 임시 컬러
    color: white;
  }
  li {
    transition: 0.5s;
    transform: scale(0);
    margin: 0 8px;
    svg {
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.snsList.active {
  li {
    transform: scale(1);
  }
}

@media only screen and (max-width: 1000px) {
  .header {
    max-width: 600px;
    a {
      &.logo {
        img {
          height: 24px;
        }
      }
    }
  }
  .navScreen {
    flex-direction: column;
  }
  .bottom-text {
    position: static;
    margin: 15px 0 30px;
  }
  .snsList {
    position: relative;
    margin-top: 70px;
    right: auto;
    bottom: auto;
    &:after {
      display: block;
      height: 1px;
      width: 0;
      background-color: rgba(255, 255, 255, 0.6);
      content: ' ';
      margin: 0 auto;
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
  .snsList.active:after {
    width: 100px;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    max-width: 420px;
  }
  nav {
    a {
      font-size: 32px;
      line-height: 32px !important;
      height: 44px;
      display: block;
    }
    &.active {
    }
    .navList {
      li {
        height: auto;
        a {
        }
        .subMenu {
          position: static;
          // display: block;
          transform: none;
          text-align: center;
          a {
            line-height: 24px !important;
            height: 36px;
          }
          &.about {
            background: none;
            // left: 50%;
            align-items: center;
            padding-left: 0;
            margin-left: 0;
          }
          &.culture {
            background: none;
            // right: 5;
            margin-right: 0;
            align-items: center;
            padding-right: 0;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .header {
    max-width: 360px;
    padding: 30px 24px 0;
  }
  .snsList {
    font-size: 16px;
  }
}
