@media screen and (max-width: 1920px) {
  html {
    font-size: calc(100vw * 10 / 1920);
  }
  html {
    font-size: calc(100vw * 10 / 1920);
  }
}
@media screen and (max-width: 1000px) {
  html {
    font-size: calc(100vw * 10 / 1000);
  }
  html {
    font-size: calc(100vw * 10 / 1000);
  }
}
.blind {
  position: absolute;
  z-index: -10;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  font-size: medium;
  line-height: normal;
  word-break: break-all;
}
.container {
  @include screen(large) {
    max-width: 192rem;
  }
  @include screen(small) {
    max-width: 100rem;
  }
  @include screen(large) {
    max-width: 192rem;
  }
  @include screen(small) {
    max-width: 100rem;
  }
}
.inner {
  padding: 0;
}
.recruit {
  color: #fff;
  text-align: left;
  background: #292929;
  .full-page-image {
    background-size: 80.4rem;
    background-position: top 10.6rem right -34.4rem;
    @include screen(large) {
      background-size: 132rem;
      background-position: top -28.2rem right -24.8rem;
    }
  }
  .full-page-text {
    overflow: hidden;
    padding: 0 14rem 0 10rem;
    width: 100%;
    max-width: 1550px;
    left: 0;
    transform: translate(0, -50%);
    transition: padding 0.3s;
    @include screen(large) {
      padding: 0 5rem 0 10rem;
    }
    h1 {
      color: rgba(255, 255, 255, 0.8);
      font-size: 13rem;
      font-weight: bold;
      line-height: 19rem;
      font-family: capitana, sans-serif !important;
      @include screen(large) {
        padding: 0 5rem 0 10rem;
      }
      strong {
        display: block;
        animation: move-right both ease 1.2s 0.2s;
        text-align: left;
        @include screen(large) {
          white-space: nowrap;
        }
        em {
          font-family: capitana, sans-serif;
          font-style: normal;
          color: #e6363e;
        }
      }
      strong + strong {
        animation: move-left both ease 1.2s 0.4s;
        @include screen(large) {
          text-align: right;
        }
      }
      span {
        color: #fff;
      }
      @keyframes move-right {
        0% {
          margin-left: -20%;
          opacity: 0;
        }
        100% {
          margin-left: 0;
          opacity: 1;
        }
      }
      @keyframes move-left {
        0% {
          margin-right: -20%;
          opacity: 0;
        }
        100% {
          margin-right: 0;
          opacity: 1;
        }
      }
    }
  }
  &__heading {
    font-family: capitana, sans-serif !important;
    @include screen(large) {
      width: 25%;
    }
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
    @include screen(mobile) {
      width: 100%;
    }
    h3 {
      span {
        display: block;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 4rem;
        @include screen(mobile) {
          font-size: 3rem;
          line-height: 4.4rem;
        }
      }
      strong {
        display: block;
        font-family: capitana, sans-serif !important;
        font-size: 6rem;
        font-weight: bold;
        line-height: 7.5rem;
        @include screen(mobile) {
          margin-top: 1rem;
          font-size: 7rem;
          line-height: 10rem;
          letter-spacing: -0.5rem;
        }
      }
    }
    span {
      display: block;
      font-size: 16px;
      font-weight: bold;
      @include screen(large) {
        font-size: 1.3vw;
      }
    }
    strong {
      display: block;
      margin: 10px 0;
      font-weight: bold;
      font-size: 36px;
      @include screen(large) {
        margin: 0;
        font-size: 3.1vw;
      }
      em {
        font-family: capitana, sans-serif;
        font-style: normal;
        color: #e6363e;
      }
    }
    .desc {
      font-size: 22px;
      color: #707070;
      @include screen(mobile) {
        margin-top: 1rem;
        color: #707070;
        font-size: 2rem;
        font-weight: 400;
        line-height: 3rem;
      }
    }
  }
  &__content {
    letter-spacing: -0.1rem;
    flex: 1;
  }
  &-benefit {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    padding: 6rem 0 7.5rem;
    @include screen(large) {
      flex-direction: row;
    }
    @include screen(mobile) {
      padding-top: 6rem;
    }
    &__list {
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row-reverse;
      gap: 0;
      margin-top: 30px;
      padding-top: 30px;
      border-top: 1px solid #fff;
      @include screen(large) {
        flex-direction: row;
        gap: 3vw 2vw;
        border: none;
        margin-top: 0;
        padding-top: 0;
      }
      @include screen(mobile) {
        padding-top: 6rem;
      }
      & + .desc {
        display: block;
        color: rgba(255, 255, 255, 0.6);
        font-size: 22px;
        line-height: 3rem;
        margin-top: 5rem;
      }
    }
    &__item {
      display: block;
      width: 47%;
      margin-bottom: 30%;
      @include screen(large) {
        width: 30%;
        margin-bottom: 90px;
      }
      &--fit {
        height: fit-content;
      }
      &:nth-child(2) {
        padding-top: 25vw;
        @include screen(large) {
          padding-top: 8.4vw;
        }
      }
      &:nth-child(3) {
        @include screen(large) {
          padding-top: 4.1vw;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      .tit-wrap {
        font-size: 4rem;
        line-height: 6rem;
        letter-spacing: -0.2rem;
        @include screen(mobile) {
          font-size: 3rem;
          line-height: 4.2rem;
        }
        em {
          font-style: initial;
          display: block;
          margin-bottom: 0.5rem;
          color: rgba(255, 255, 255, 0.8);
          font-weight: normal;
          line-height: 1.1em;
          font-size: 20px;
          @include screen(mobile) {
            line-height: 5rem;
          }
        }
        strong {
          font-family: 'Noto Sans KR', sans-serif !important;
          font-style: normal !important;
          font-weight: bold;
          letter-spacing: normal;
          font-size: 3rem;
          @include screen(mobile) {
            font-size: 3rem;
          }
        }
      }
      .icon-wrap {
        width: auto;
        height: auto;
        margin-top: 3rem;
        background-color: transparent !important;
      }
      .icon-wrap .icon {
        display: block;
        background-color: transparent !important;
      }
      .icon-wrap .icon-01 {
        width: 21.5rem;
        height: 14rem;
        background: url(http://www.the-51.com/wp-content/uploads/2022/05/img-benefits-01.png)
          no-repeat center / contain;
      }
      .icon-wrap .icon-02 {
        width: 16.5rem;
        height: 16.5rem;
        background: url(http://www.the-51.com/wp-content/uploads/2022/05/img-benefits-02.png)
          no-repeat center / contain;
      }
      .icon-wrap .icon-03 {
        width: 16.3rem;
        height: 20.7rem;
        background: url(http://www.the-51.com/wp-content/uploads/2022/05/img-benefits-03.png)
          no-repeat center / contain;
      }
      .icon-wrap .icon-04 {
        width: 16.5rem;
        height: 16.5rem;
        background: url(http://www.the-51.com/wp-content/uploads/2022/05/img-benefits-04.png)
          no-repeat center / contain;
      }
      .icon-wrap .icon-05 {
        width: 17rem;
        height: 12.7rem;
        background: url(http://www.the-51.com/wp-content/uploads/2022/05/img-benefits-05.png)
          no-repeat center / contain;
      }
      .icon-wrap .icon-06 {
        width: 22.6rem;
        height: 16rem;
        background: url(http://www.the-51.com/wp-content/uploads/2022/05/img-benefits-06.png)
          no-repeat center / contain;
      }
      .icon-wrap .icon-07 {
        width: 17rem;
        height: 17rem;
        background: url(http://www.the-51.com/wp-content/uploads/2022/05/img-benefits-07.png)
          no-repeat center / contain;
      }
      .txt-wrap {
        margin-top: 3rem;
      }
      .txt-wrap ul li {
        position: relative;
        padding-left: 1.5rem;
        color: rgba(255, 255, 255, 0.8);
        line-height: 3.2rem;
        letter-spacing: -0.1em;
        word-break: keep-all;
        font-size: 2.2rem;
      }
      .txt-wrap ul li::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 4px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.8);
      }
      .txt-wrap ul li + li {
        margin-top: 10px;
      }
    }
  }
  &-leader {
    display: block;
    padding: 7.5rem 0 16.5rem;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif !important;
    letter-spacing: -0.1rem;
    overflow: hidden;
    @include screen(large) {
      display: flex;
    }
    .tit {
      font-size: 3.5rem;
      font-weight: 600;
      line-height: 5.2rem;
    }

    .how-to-wrap {
      padding-bottom: 15rem;
      ul.how-to {
        li {
          border-top: 0.1rem solid #fff;
          margin-top: 50px;
          display: block;
          padding-top: 50px;
          margin-top: 50px;
          @include screen(large) {
            display: flex;
          }
          &:first-child {
            .cont {
              dl {
                display: flex;
                align-items: center;
                dd {
                  margin-top: 0;
                }
                dt {
                  display: block;
                  font-size: 2.8rem;
                  font-weight: 600;
                  line-height: 4rem;
                  text-align: left;
                }
              }
            }
          }
          .s-tit {
            width: calc(100% / 3);
            text-align: left;
            font-weight: bold;
            font-size: 3.5rem;
            @include screen(large) {
              font-size: 30px;
            }
          }
          .cont {
            margin-top: 5rem;
            @include screen(large) {
              margin-top: 0;
            }
            display: block;
            @include screen(large) {
              width: calc((100% / 3) * 2);
            }
            dl {
              align-items: center;
              dd {
                display: flex;
                align-items: center;
                padding-left: 0;
                font-size: 2.5rem;
                line-height: 3.5rem;
                @include screen(small) {
                  display: grid;
                }
                em {
                  margin-left: 1rem;
                  color: rgba(255, 255, 255, 0.5);
                  font-size: 2rem;
                  font-style: inherit;
                  @include screen(small) {
                    display: block;
                  }
                }
              }
              .add {
                margin-top: 1rem;
                color: rgba(255, 255, 255, 0.5);
                font-size: 2rem;
                line-height: 2.9re;
              }
              dd + dd {
                margin-top: 10px;
              }
              dt {
                display: flex;
                align-items: center;
                color: #fff;
                min-width: 15.3rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 3.5rem;
                span {
                  display: block;
                }
              }
              .arrow {
                span + span {
                  position: relative;
                  padding-left: 5.8rem;
                  &::before {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 5.8rem;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    background: url(http://www.the-51.com/wp-content/uploads/2022/05/icon-arrow-white-s.png)
                      no-repeat center / 1.1rem;
                  }
                }
              }
            }
            dl + dl {
              margin-top: 2rem;
            }
          }
        }
      }
    }
  }
  &-crewtalent {
    position: relative;
    width: 100%;
    padding: 0 8rem;
    @include screen(mobile) {
      padding: 0;
    }
    .recruit__heading {
      width: 100%;
      text-align: center;
      letter-spacing: -0.1rem;
      .tit {
        font-size: 5rem;
        font-weight: bold;
        line-height: 7.5rem;
        text-align: center;
        @include screen(mobile) {
          font-size: 7rem;
          line-height: 9rem;
        }
        em {
          font-family: capitana, sans-serif;
          font-style: normal;
          color: #e6363e;
        }
      }
      .desc {
        display: block;
        margin-top: 1rem;
        font-size: 22px;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
        color: #fff;
        @include screen(mobile) {
          margin-top: 5.4rem;
        }
      }
    }
    .crewtalent {
      display: flex;
      text-align: center;
      margin-top: 6rem;
      padding: 6rem 0 4rem;
      @include screen(mobile) {
        flex-direction: column;
      }
      li {
        width: calc(100% / 3);
        flex: 1;
        .tit-wrap {
        }
        @include screen(mobile) {
          width: 100%;
          padding: 2.6rem 0;
        }
        .s-tit {
          display: block;
          margin: 0 auto;
          font-size: 2.8rem;
          font-weight: 500;
          line-height: 4rem;
          text-align: center;
          .icon {
            display: block;
            width: 19rem;
            height: 19rem;
            margin: 0 auto 2rem;
            background-color: transparent !important;
          }
        }

        .txt {
          margin-top: 1.2rem;
          font-size: 2.5rem;
          line-height: 4rem;
          text-align: center;
        }
      }
    }
    .crewtalent > li .s-tit .icon.icon-01 {
      background: url(http://www.the-51.com/wp-content/uploads/2022/05/icon-talent-01.png)
        no-repeat center / contain;
    }
    .crewtalent > li .s-tit .icon.icon-02 {
      background: url(http://www.the-51.com/wp-content/uploads/2022/05/icon-talent-02.png)
        no-repeat center / contain;
    }
    .crewtalent > li .s-tit .icon.icon-03 {
      background: url(http://www.the-51.com/wp-content/uploads/2022/05/icon-talent-03.png)
        no-repeat center / contain;
    }
  }
  &-joinus {
    padding: 16.5rem 0 34rem;
    .inner {
      position: relative;
      width: 100%;
      padding: 0 8rem;
      @include screen(mobile) {
        padding: 0;
      }
      .txt-wrap {
        text-align: center;
        .tit {
          display: block;
          font-family: capitana, sans-serif;
          font-size: 11rem;
          font-weight: bold;
          line-height: 18rem;
          text-align: center;
          @media only screen and (max-width: 690px) {
            margin-bottom: 2rem;
            font-size: 5rem;
            line-height: 7.4rem;
          }
        }
        .desc {
          display: block;
          margin-bottom: 4rem;
          font-size: 3rem;
          font-weight: 500;
          line-height: 4.4rem;
          text-align: center;
          @media only screen and (max-width: 690px) {
            margin-bottom: 3.6rem;
            font-size: 2.5rem;
            line-height: 4rem;
          }
        }
        .email-wrap {
          position: relative;
          display: inline-block;
          font-family: capitana, sans-serif;
          font-size: 12rem;
          line-height: 16rem;
          text-align: center;
          text-transform: uppercase;
          &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -1rem;
            height: 1rem;
            background-color: #fff;
          }
          @include screen(mobile) {
            font-size: 5.6rem;
            line-height: 8.3rem;
            letter-spacing: -0.2rem;
          }
          @media only screen and (max-width: 1000px) {
          }
          .recruit-pointer {
            top: 259px;
            left: 703px;
            opacity: 0;
            z-index: -1;
          }
        }
      }
    }
  }
  &-recruitmentarea {
    .inner {
      position: relative;
      width: 100%;
      padding: 0 8rem;
    }
  }
  .acco-wrap {
    border-top: 0.1rem solid #fff;
    input[id*='answer'] {
      display: none;
    }
    .acco-tit {
      div {
        display: flex;
        padding: 4rem 0;
        color: #fff;
        text-decoration: none;
        position: relative;
        strong {
          width: calc(100% / 3);
          //   width: 55%;
          display: flex;
          align-items: center;
          font-size: 30px;
          font-weight: bold;
          line-height: 36px;
          span {
            padding-left: 1rem;
            font-size: 2rem;
            font-weight: 300;
            line-height: 4.4rem;
            @media only screen and (max-width: 690px) {
              line-height: 3.6rem;
            }
          }
          @media only screen and (max-width: 690px) {
            width: 55%;
            font-size: 3.5rem;
            line-height: 5rem;
          }
          @media only screen and (max-width: 1000px) {
            width: 50%;
          }
        }
        .detail {
          display: flex;
          justify-content: center;
          width: calc(100% / 3);
          font-size: 25px;
          font-weight: 500;
          line-height: 36px;
          align-items: center;
          justify-content: flex-start;
          width: 45%;
          @media only screen and (max-width: 690px) {
            width: 50%;
            font-size: 17px;
            justify-content: flex-start;
            padding-left: 2rem;
            line-height: 5rem;
          }
        }
      }
    }
    input[id*='answer'] + label {
      display: block;
      border-bottom: 0;
      color: #fff;
      font-weight: 900;
      border-top: 0.05rem solid rgba(255, 255, 255, 0.4);
      cursor: pointer;
      position: relative;
      em {
        position: absolute;
        top: 50%;
        right: 0;
        width: 2.4rem;
        height: 2.4rem;
        transform: translate(-50%, -50%);
        display: inline-block;
        border-radius: 50%;
        background: url(http://www.the-51.com/wp-content/uploads/2022/05/icon-plus-white.png)
          no-repeat center / contain;
      }
    }
    input[id*='answer'] + label + div {
      max-height: 0;
      transition: all 0.35s;
      overflow: hidden;
      font-size: 11px;
      .sub_con {
        display: inline-block;
        padding: 20px;
      }
      .sub_con {
        width: 100%;
        padding: 6rem;
        background-color: rgba(0, 0, 0, 0.15);
        .item {
          .s-tit {
            display: block;
            margin-bottom: 1.8rem;
            font-size: 2.8rem;
            font-weight: 500;
            line-height: 4rem;
            @media only screen and (max-width: 690px) {
              margin-bottom: 2rem;
            }
          }
        }
        .item > ul {
          li {
            position: relative;
            font-size: 2.5rem;
            color: rgba(255, 255, 255, 0.8);
            padding-left: 1.5rem;
            line-height: 3.6rem;
            word-break: keep-all;
            &::before {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              top: 1.65rem;
              width: 0.6rem;
              height: 0.6rem;
              border-radius: 50%;
              background-color: rgba(255, 255, 255, 0.8);
            }
          }
          li + li {
            margin-top: 0.7rem;
          }
        }
        .item + .item {
          margin-top: 6rem;
        }
      }
    }
    input[id*='answer']:checked + label + div {
      max-height: 100%;
    }
    input[id*='answer']:checked + label em {
      background-color: #eee;
      background: url(http://www.the-51.com/wp-content/uploads/2022/05/icon-minus-white.png)
        no-repeat center / contain;
    }
  }
  .accordion-box {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    .tit {
      font-size: 4.2rem;
      font-weight: bold;
      line-height: 6rem;
      padding-bottom: 20px;
    }
  }
}
