.who {
  position: relative;
  z-index: 10;
  font-family: 'Chakra Petch', 'Noto Sans KR', sans-serif;
  word-wrap: break-word;
  word-break: keep-all;
  &-overview {
    width: 100%;
    background-color: #1a1a1a;
    padding-top: calc(100vw * 0.08);
    padding-bottom: calc(100vw * 0.08);
    @media only screen and (max-width: 690px) {
      padding-top: calc(100vw * 0.1);
      padding-bottom: calc(100vw * 0.1);
    }
    &__container {
      width: 100%;
      max-width: 1550px;
      margin: 0 auto;
      padding: 0 90px;
      text-align: left;
      @media only screen and (max-width: 690px) {
        padding: 0;
        max-width: 320px;
      }
    }
    &__header {
      color: white;
      h5 {
        font-size: 16px;
        line-height: 25px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      h2 {
        font-size: 56px;
        line-height: 59px;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: 0;
        @media only screen and (max-width: 1300px) and (min-width: 1000px) {
          font-size: 47.6px;
          line-height: 50.15px;
        }
        @media only screen and (max-width: 690px) {
          font-size: 42px;
          line-height: 44.25px;
        }
      }
    }
    &__contents {
      margin-top: 8%;
      display: flex;
      justify-content: space-between;
      gap: 10%;
      color: #999999;
      text-align: left;
      font-size: 16px;
      line-height: 30px;
      font-weight: 400;
      @media only screen and (max-width: 690px) {
        flex-direction: column;
        margin-top: 15%;
      }
      p {
        flex: 1;
        & + p {
          @media only screen and (max-width: 690px) {
            margin-top: 5%;
          }
        }
      }
    }
    &-footer {
      margin-top: 15%;
      padding-top: 5%;
      border-top: 1px solid #848484;
      &__container {
        ul {
          display: flex;
          gap: 12%;
          @media only screen and (max-width: 690px) {
            flex-direction: column;
          }
          li {
            transition: all ease-in-out 0.5s;
            opacity: 0;
            transform: translateY(100px);
            h4 {
              color: #cccccc;
              font-size: 20px;
              line-height: 34px;
              font-weight: 400;
              margin-bottom: 15px;
            }
            p {
              color: #999999;
              font-size: 16px;
              line-height: 30px;
              font-weight: 400;
            }
            & + li {
              @media only screen and (max-width: 690px) {
                margin-top: 8%;
              }
            }
          }
        }
      }
    }
  }
  &-client {
    width: 100%;
    padding-top: calc(100vw * 0.07);
    padding-bottom: calc(100vw * 0.07);
    background-color: white;
    &__container {
      width: 100%;
      max-width: 1550px;
      margin: 0 auto;
      padding: 0 90px;
      text-align: center;
      @media only screen and (max-width: 690px) {
        padding: 0;
        max-width: 320px;
      }
    }
    h5 {
      font-size: 16px;
      line-height: 25px;
      font-weight: 700;
      @media only screen and (max-width: 690px) {
        font-size: 16px;
        line-height: 25px;
      }
    }
    &-title {
      margin-top: 24px;
      &__container {
        overflow: hidden;
      }
      h2 {
        font-size: 56px;
        line-height: 59px;
        font-weight: 700;
        transition: all ease-in-out 0.5s;
        opacity: 0;
        transform: translateY(100%);
        text-transform: capitalize;
        @media only screen and (max-width: 1000px) {
          font-size: 42px;
          line-height: 44.25px;
        }
      }
      & + & {
        margin-top: 7px;
      }
    }
    &-list {
      margin-top: 84px;
      @media (min-width: 1000px) {
        width: 82.97872339599999%;
        margin-right: auto;
        margin-left: auto;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
        margin: 0;
        li {
          width: 23%;
          margin-bottom: 2%;
          img {
            width: 100%;
          }
          @media only screen and (max-width: 690px) {
            width: 48%;
          }
        }
      }
    }
  }
  .project-pagination {
    @media only screen and (max-width: 690px) {
      height: 20vh;
    }
    &__item a:hover {
      .project-pagination__text {
        transform: none;
      }
    }
    &__text {
      h3 {
        font-weight: 700;
      }
    }
  }
}
